*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}

nav{
    background-color: #fff;
    padding: 20px;
    font-weight: 700;
}

.card{
    background-color: #fff;
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h1{
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 700;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.button-group{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 15px;
}

.btn-cancel{
    padding: 8px 15px;
    border: none;
    background-color: red;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.btn-submit{
    padding: 8px 15px;
    border: none;
    background-color: blue;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th{
    background-color: #343A40;
    color: white;
}